<template>
    <component :is="layout">
        <div v-if="loaded">
            <div class="all-profiles-count">
                All Imported Profiles: {{report.imported}}
            </div>
            <hr/><br>
            <div class="files-info">
                <h2>Files Information</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="table-head">File Name</th>
                        <th class="table-head">Import Date</th>
                        <th class="table-head">Number of Profiles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="" v-if="report.importedFilesInfo.length === 0">
                        <td class="lead text-center" :colspan="3">No data found.</td>
                    </tr>
                    <tr v-for="data in report.importedFilesInfo"  class="m-datatable__row" v-else>
                        <td v-for="value in data">{{ value }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr/><br>
            <div class="subscriptions-info">
                <h2>Subscriptions Information</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="table-head">Subscription Name</th>
                        <th class="table-head">Profiles subscribed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="" v-if="report.subscribedProfiles.length === 0">
                        <td class="lead text-center" :colspan="2">No data found.</td>
                    </tr>
                    <tr v-for="data in report.subscribedProfiles"  class="m-datatable__row" v-else>
                        <td v-for="(value, key) in data" v-if="(key == 'name' || key=='profiles_count')">
                            {{ value }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr/><br>
            <div class="large-files-info">
                <h2>Large Import Files</h2><span>(Has more than 400 profiles)</span>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="table-head">File Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="" v-if="report.importedFilesInfo.length === 0">
                        <td class="lead text-center" :colspan="1">No data found.</td>
                    </tr>
                    <tr v-for="data in report.importedFilesInfo"  class="m-datatable__row" v-else>
                        <td v-for="(value, key2) in data" v-if="(key2 == 'import_from' && data.file_profiles_count > 400)">
                            {{ value }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </component>
</template>

<script>
    export default {
        name: "ReportPage",
        data() {
            return {
                loaded: false,
                report: {}
            }
        },
        created() {
            axios.get('report').then(responce => {
                this.loaded = true;
                this.report = responce.data;
            });
        }
    }
</script>

<style scoped>

</style>
